{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'people.js') }}"></script>

<script>
    let data = {{item|tojson}} 
    let id = data.id 
    console.log(id)
    edit_book(id);

</script>

<html>

<body>
      
<div id="name_entry_container" class="green-background">
    <div class="title-medium"> Edit: <span class="orange"> {{item.title}} </span></div>
    <div id = "successMessage"></div>
    <div id = "viewItemLink"></div>

    <div class = "row bottom-padding"> 
        <div class = "col-5">
            <div class="input-title">Title: </div> <input id="title" value="{{ item.title }}" class="form_format">
            <div id="titleWarning" class="warning"></div>
        </div>
        <div class = "col-5">
            <div class="input-title">Author: </div> <input id="author" value="{{ item.author }}" class="form_format">
            <div id="authorWarning" class="warning"></div>
        </div>
        <div class = "col-2">
            <div class="input-title">Rating: </div> <input id="score" value="{{ item.score }}" class="form_format">
            <div id="scoreWarning" class="warning"></div>
        </div>
    </div>

    <div class = "padding-10"></div>


    <div class="input-title">Image: (Link) </div> <input id="image" value="{{ item.image }}" class="form_format">
    <div id="imageWarning" class="warning"></div>

    <div class="input-title">Summary: </div> <input id="summary" value="{{ item.summary }}" class="form_format bottom-padding">
    <div id="summaryWarning" class="warning"></div>

    <div class = "padding-10"></div>

    <div class="input-title">Genres: <span class = "gray-light">(Separated by commas ',') </span> </div> <input id="genres" value="{% for genres in item.genres %}{{ genres }}{% if not loop.last %}, {% endif %}{% endfor %}" class="form_format">
    <div id="genresWarning" class="warning"></div>

    <div class="input-title">Series: <span class = "gray-light">(Separated by commas ',') </span></div> <input id="series2" value="{% for series in item.series %}{{ series }}{% if not loop.last %}, {% endif %}{% endfor %}" class="form_format">
    <div id="seriesWarning" class="warning"></div>
    
    <div class ="padding">
    <button id="edit_book">Submit</button> <button id="discard_book" class = "gray-background">Discard Changes</button>


</div>
    
</div>
    </div>

</body>

</html>
{% endblock %}
