/* Search bar css */
form {
    height: 40px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 250px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.gray-background{
    background-color: rgba(0, 0, 0, .2) !important;
    width: 200px !important; 
}

button {
    height: 35px;
    width: 100px;
    margin-left: 10px;
    background-color: rgb(255, 155, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 140, 0); /* Dark Orange */
}
/* End Search bar css */

.padding-left{
    padding-left: 60px;
}


.item{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.left-float {
    float: left;
    width: 250px;
    border-radius: 10px;
}

.black{
        color: black !important;
}

.small-float {
    float: left;
    height: 160px;
    border-radius: 5px;
}
.bottom-padding{
    padding-bottom: 10px;
}

.underline{
    text-decoration: underline;

}

.info-container {
    padding-left: 280px;
}

#small-container {
    padding-left: 120px;
    height: 160px;
}

.padding{
    padding-top: 30px;
    padding-bottom: 10px;

}
.padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.right-align{
    text-align: right;
}

.small-title{
    font-size: 16px;
    font-weight: bold;
}

.star {
    cursor: pointer;
    font-size: 40px;
    color: lightgray;
  }
/*
.star:hover,
.star:hover ~ .star {
    color: orange;
} */

.green-background{
    margin: 20px;
    background-color:  rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 30px;
}

.series-button{
    background-color: rgba(0, 0, 0, .07);;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    color: black;
    border-radius: 5px;
}

.series-button:hover{
    background-color: rgba(0, 0, 0, .1);
    
    cursor: pointer;
}

.small-viewitem{
    margin: 0px; 
    margin-bottom: 20px;
    background-color:  rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;

}

.small-searchitem{
    margin: 0px; 
    margin-bottom: 10px;
    background-color:  rgba(255, 255, 255, 1);
    padding: 20px 40px 20px 40px;
    
    border-radius: 20px;
}

.small-searchitem:hover{
    background-color:  rgba(255, 255, 255, .5);
    cursor: pointer;
}

.small-viewitem:hover{
    background-color:  rgba(255, 255, 255, .5);
    cursor: pointer;
}

.no-underline:hover {
    text-decoration: none;
}

.green{
    background-color: #d9ead3;
    margin: 0;
    padding: 20px;
}

.warning{
    font-weight: bold;
    color: rgb(255, 140, 0); /* Dark Orange */
}

.font-medium{
    font-size: 18px;
}

.nav-link {
    color:black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-right: 50px;
  }

.title-medium{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.form_format{
    width: 100%;
}

.form_format-tall{
    width: 600px;
    height: 300px;
}

.input-title{
    padding-bottom: 5px;
    font-weight: bold;
}

.orange{
    color: rgb(255, 140, 0); /* Dark Orange */
    font-weight: bold;
}

.bold{
    font-weight: bold;

}
.font-large{
    font-size: 32px;
}

.gray-dark{
    color: rgb(100,100,100);
}
.gray-light{
    color: rgb(160,160,160);
}

.highlight {
    font-weight: bold;
  }

.search-small{
    padding-left: 20px;
    font-size: 14px;
}


.search-main{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.score{
    font-size: 22px;
    padding-left: 10px;
    color:  rgb(255, 155, 0);
    font-weight: bold;
}

.font-small{
    font-size: 14px;
}   