{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'people.js') }}"></script>

<html>

<body>
      <div class = "padding green-background">

          <img src="{{ item.image }}" alt="{{ item.title }} cover image", class = "left-float">

          <div class = "info-container">
            <div class = "font-large bold">{{ item.title }}</div>
            <div class = "font-medium gray-dark"> {{ item.author }}</div> 
            <div class = "bottom-padding"></div>

            <div class="stars"> 
              {% if item.score|int >= 1 %}
                <span class="star orange" data-value="1">&#9733;</span>
              {% else %}
                <span class="star" data-value="1">&#9733;</span>
              {% endif %}

              {% if item.score|int >= 2 %}
                <span class="star orange" data-value="2">&#9733;</span>
              {% else %}
                <span class="star" data-value="2">&#9733;</span>
              {% endif %}

              {% if item.score|int >= 3 %}              
                <span class="star orange" data-value="3">&#9733;</span>
              {% else %}
                <span class="star" data-value="3">&#9733;</span>
              {% endif %}

              {% if item.score|int >= 4 %}
              
              <span class="star orange" data-value="4">&#9733;</span>
              {% else %}

              <span class="star" data-value="4">&#9733;</span>
              {% endif %}

              {% if item.score|int >= 5 %}
              
              <span class="star orange" data-value="5">&#9733;</span>
              {% else %}

              <span class="star" data-value="1">&#9733;</span>
              {% endif %}
              <span class = "score"> {{ item.score }}/5 </span>

           </div>

            <div class = "font-small gray-dark">{{ item.summary }}</div> <br>
            <div class = "bottom-padding"></div>


            <div><span class="small-title padding-10">Series:</span> 
              {% for series in item.series %}
              <a href="/search?q={{ series }}" class = "series-button no-underline">{{ series }}</a>
    
              {% endfor %}
            </div>
        

            <div class = "padding-10"><span class="small-title">Genres: </span> 
              
              {% for genres in item.genres %}
              <a href="/search?q={{ genres }}" class = "font-small gray-dark underline">{{ genres }}</a>{% if not loop.last %}, {% endif %}
      
              {% endfor %}
              
            </div>

            <div class = "right-align padding">
            <a href="/edit/{{ item.id }}" class = "series-button no-underline"> <span class = "bold"> Edit: </span> {{ item.title }} </a></div>

          </div>  
    </div>

</body>

</html>
{% endblock %}
